*{
    margin: 0;
    padding: 0;
}

/*h1, p {
    color: purple;
}

body div section p,
body div section h1 {
    color: red;
}*/

.color-red{
    color: red;
}

body div.main-content h2.heading{
    font-style: italic;
    color: red;
}

div{
    color: initial;
    margin-left: 20px;
}

.pai > .filha > .filha{
    color: red;
}