* {
    margin: 0;
    padding: 0;
}

/*.grid .col{
    display: inline-block;
    width: 300px;
    height: 300px;
    background: red;
    margin: 30px;
}*/

/*.grid .col{
    display: block;
    width: 300px;
    height: 300px;
    background: red;
    margin: 30px;
}*/

/*.grid .col{

    width: 300px;
    height: 300px;
    background: red;
    margin: 20px;
    float: left;
}

p {
    clear: left;
}*/

/*.grid .col{

    width: 300px;
    height: 300px;
    background: red;
    margin: 20px;
    float: right;
}

p {
    clear: right;
}*/

.grid::after{

    content: '';
    display: block;
    clear: both;
}

/*.grid .col{

    width: 300px;
    height: 300px;
    background: red;
    margin: 20px;
    float: right;
}*/

/*p {
    clear: both;
}*/

/*.grid .col{

    width: 33.33%;
    height: 300px;
    background: red;
    float: left;
    margin: 30px;
}*/

.grid{
    box-sizing: border-box;
    padding: 15px;
}

.grid .col{
    box-sizing: border-box;
    width: 33.33%;
    height: 300px;
    float: left;
    padding: 15px;
}

.grid .col-content{

    width: 100%;
    height: 100%;
    background: red;
}