* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: sans-serif;
    font-size: 40px;
}

/*.grid {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 30px;
    
}*/

/*.grid {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    row-gap: 30px;
    column-gap: 30px;
    
}*/

/*.grid {
    width: calc(100% + 30px);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
}*/

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    margin-right: -30px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    overflow-x: hidden;
}

.grid div {
    background: tomato;
    min-height: 100px;
    margin-right: 30px;
    margin-bottom: 30px;
}

 .grid div:nth-child(5) {
    background: darkred;
    grid-column: span 2;
 }