/*ul li:nth-child(2){
    background-color: rebeccapurple;
}*/

/*ul li:nth-child(even){
    background-color: rebeccapurple;
}*/

/*ul li:nth-child(odd){
    background-color: rebeccapurple;
}*/

/*ul li:nth-child(3n){
    background-color: darkblue;
}*/

ul li:nth-child(3n + 5){
    background-color: darkblue;
}