* {
    margin: 0;
}

/*.pai{
    height: 300vh;
}*/

/*.pai{
    
}

.filha1, .filha2, .filha3{
    width: 300px;
    height: 300px;
    background: rgba(255, 0, 0, 1);
    margin: 10px;
    position: static;
}*/

/*.filha2{
    background: greenyellow;
    float: left;
}*/

/*.filha2{
    position: absolute;
    background: greenyellow;
    z-index: 1;
}*/

/*.filha2{
    position: absolute;
    background: greenyellow;
    z-index: 2;
}*/

/*.filha2{
    position: absolute;
    background: greenyellow;
    z-index: -1;
}*/

/*.filha2{
    position: relative;
    background: greenyellow;
    z-index: -1;
}*/

/*.filha2{
    background: greenyellow;
}*/

/*.filha1{
    position: relative;
    top: 50px;
    left: 50px;
}*/

/*.filha1{
    position: absolute;
    top: 50px;
    left: 50px;
}*/

/*.filha1{
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
}*/

/*.filha1{
    position: absolute;
    top: 100px;
    left: 200px;
}*/

/*.filha1{
    position: absolute;
    bottom: 100px;
    right: 50px;
}*/

/*.filha1{
    position: absolute;
    width: auto;
    height: auto;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}*/

/*.filha1{
    position: absolute;
    top: 50px;
    left: 50px;    
}*/

/*.filha1{
    position: absolute;
    top: 50%;
    margin-top: -150px;
    left: 50%;    
    margin-left: -150px;
    z-index: 2;
}*/

/*.filha1{
    position: absolute;
    top: 50%;
    margin-top: -150px;
    left: 50%;    
    margin-left: -150px;
    z-index: 1;
}*/

/*.filha1{
    
}

.filha3{
    background: blue;
    position: relative;
    top: 100px;
    left: 100px;
}

.outra{
    position: absolute;
    font-size: 50px;
    background: #fff;
    right: 0;
    bottom: 0;
}*/

/*.pai{
    height: 300vh;
}

.filha1, .filha2, .filha3{
    width: 300px;
    height: 300px;
    background: rgba(255, 0, 0, 1);
    margin: 10px;
    position: static;
}

.filha2{
    background: greenyellow;
    position: fixed;
    top: 30%;
    z-index: 1;
}

.filha1{
    
}

.filha3{
    background: blue;
    position: relative;
    top: 100px;
    left: 100px;
}

.outra{
    position: absolute;
    font-size: 50px;
    background: #fff;
    right: 0;
    bottom: 0;
}*/

ul {
    height: 100px;
    overflow-y: auto;
}

ul li.sticky{
    position: sticky;
    background: gray;
    top: 0;
}