/*p {
    color: red;
    background: yellow;
}*/

p {
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    direction: ltr;
    letter-spacing: 1px;
    word-spacing: 5px;
    line-height: 25px;
    text-align: center;
    /*text-decoration: overline;*/
    /*text-decoration: line-through;*/
    text-decoration: underline;
    text-indent: 50px;
    /*text-shadow: 2px 2px red;*/
    text-shadow: -1px 0 0 red;
    /*text-transform: lowercase;*/
    /*text-transform: uppercase;*/
    text-transform: capitalize;
}