* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*.flex-container{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
    background: yellow;
    height: 500px;
}*/

/*.flex-container{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-end;
    background: yellow;
    height: 500px;
}*/

/*.flex-container{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    background: yellow;
    height: 500px;
}*/

/*.flex-container{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-around;
    background: yellow;
    height: 500px;
}*/

/*.flex-container{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    background: yellow;
    height: 500px;
}*/

/*.flex-container{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-evenly;
    background: yellow;
    height: 500px;
    gap: 30px;
}*/

/*.flex-container{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: center;
    background: yellow;
    height: 640px;
    width: 960px;
}*/

/*.flex-container{
    display: flex; /* block 
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: yellow;
    height: 500px;
    width: 200px;
}*/

/*.flex-container{
    display: flex; /* block 
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: yellow;
}*/

.flex-container{
    display: flex; /* block */
    justify-content: space-between;
    align-items: flex-start;
    flex-flow: row nowrap;
    background: yellow;
    height: 800px;
}

/*.flex-container{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    background: yellow;
    height: 500px;
}*/

/*.flex-item {
    color: #fff;
    width: 100%;
    background: red;
    margin: 10px;
}*/

/*.flex-item {
    width: 33.33%;
    height: 200px;
    margin: 10px;
    color: #fff;
    background: red;
}*/

/*.flex-item {
    width: 32%;
    margin-bottom: 2%;
    height: 200px;
    color: #fff;
    background: red;
}*/

/*.flex-item {
    flex-grow: 1;
    flex-basis: 320px;
    flex-shrink: 1 1 320px;
    height: 200px;
    color: #fff;
    background: red;
}*/

.flex-item {
    width: 100%;
    color: #fff;
    background: red;
}

.flex-item:nth-child(1) {
    order: -3;
}

.flex-item:nth-child(2) {
    order: -4;
}

.flex-item:nth-child(3) {
    order: -1;
}

.flex-item:nth-child(4) {
    order: -2;
}

/*.flex-item:nth-child(3) {
    align-self: flex-end;
}

.flex-item:nth-child(4) {
    align-self: center;
}

.flex-item:nth-child(2) {
    align-self: stretch;
}*/

/*.flex-item:nth-child(2) {
    flex: 10 1 320px;
     background: purple;
}*/

/*.flex-item:nth-child(3) {
    font-size: 40px;
}*/