* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: sans-serif;
    font-size: 40px;
}

/*.grid {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 30px;
}*/

/*.grid {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, minmax(320px, 1fr));
    gap: 30px;
}

.grid {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr 2fr);
    gap: 30px;
}*/

.grid {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 30px;
}

.grid div {
    background: tomato;
    min-height: 100px;
}

/*.grid div:nth-child(5) {
    background: darkred;
   grid-column-start: 1;
   grid-column-end: 4;
}*/

/*.grid div:nth-child(5), .grid div:nth-child(6) {
    background: darkred;
   grid-column-start: 1;
   grid-column-end: 4;
   grid-row-start: 3;
}

.grid div:nth-child(5){
    background: yellow;
    z-index: 3;
}

.grid div:nth-child(6){
      z-index: 2;
}

.grid div:nth-child(5) {
    background: darkred;
   grid-column-start: 1;
   grid-column-end: 4;
   grid-row-start: 3;
   grid-row-end: 6;
}*/

.grid div:nth-child(5) {
   background: darkred;
   grid-row: span 1;
   grid-column: span 2;
}

@media (max-width: 768px) {
    .grid div:nth-child(5) {
        grid-column: span 1;
     }
}