/*.texto{
    display: block;
    background: red;
    width: 50%;
}*/

/*.texto{
    display: inline;
    background: red;
    width: 100px;
    height: 100px;
}*/

/*.texto{
    display: block;
    background: red;
    width: 100px;
    height: 100px;
    overflow: hidden;
}*/

/*.texto{
    display: block;
    background: red;
    width: 100px;
    height: 100px;
    overflow-y: scroll;
}*/

/*.texto{
    display: block;
    background: red;
    width: 200px;
    height: 200px;
    overflow-y: auto;
}*/

/*.texto{
    display: block;
    background: red;
    max-width: 100%;
    max-height: 100%;
    min-width: 0%;
    min-height: 0%;
    width: 100px;
    height: 100px;
    overflow-y: scroll;
}*/

/*.texto{
    box-sizing: content-box;
    display: block;
    background: red;
    max-width: 600px;
    max-height: 500px;
    min-width: 0%;
    min-height: 100px;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    margin: 0 auto 50px auto;
    padding: 50px;
    border: 5px solid black;
}*/

/*.texto{
    box-sizing: padding-box;
    display: block;
    background: red;
    max-width: 600px;
    max-height: 500px;
    min-width: 0%;
    min-height: 100px;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    margin: 0 auto 50px auto;
    padding: 50px;
    border: 5px solid black;
}*/

/*.texto{
    box-sizing: border-box;
    display: block;
    background: red;
    max-width: 600px;
    max-height: 500px;
    min-width: 0%;
    min-height: 100px;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    margin: 0 auto 50px auto;
    padding: 50px;
    border: 5px solid black;
}*/

/*.texto{
    box-sizing: border-box;
    display: block;
    background: red;
    max-width: 600px;
    max-height: 500px;
    min-width: 0%;
    min-height: 100px;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    margin: 0 auto 50px auto;
    padding-left: 50px;
    border: 5px solid black;
}*/

/*.texto{
    box-sizing: border-box;
    display: block;
    background: red;
    max-width: 600px;
    max-height: 500px;
    min-width: 0%;
    min-height: 100px;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    margin: 0 auto 50px auto;
    padding: 10px 5px;
    border: 5px solid black;
}*/

/*.texto{
    box-sizing: border-box;
    display: block;
    background: red;
    max-width: 600px;
    max-height: 500px;
    min-width: 0%;
    min-height: 100px;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    margin: 0 auto 50px auto;
    padding: 10px 5px;
    border: 5px double black;
}*/

.texto{
    box-sizing: border-box;
    display: block;
    background: red;
    max-width: 600px;
    max-height: 500px;
    min-width: 0%;
    min-height: 100px;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    margin: 0 auto 50px auto;
    padding: 10px 5px;
    border: 5px dotted black;
}

.texto{
    box-sizing: border-box;
    display: block;
    background: red;
    max-width: 600px;
    max-height: 500px;
    min-width: 0%;
    min-height: 100px;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    margin: 0 auto 50px auto;
    padding: 10px 5px;
    border-width: 5px;
    border-style: solid;
    border-color: lightcoral;
}