* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*.flex-container{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
    background: yellow;
    height: 500px;
}*/

/*.flex-container{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-end;
    background: yellow;
    height: 500px;
}*/

/*.flex-container{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    background: yellow;
    height: 500px;
}*/

/*.flex-container{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-around;
    background: yellow;
    height: 500px;
}*/

/*.flex-container{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    background: yellow;
    height: 500px;
}*/

/*.flex-container{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-evenly;
    background: yellow;
    height: 500px;
    gap: 30px;
}*/

.flex-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: yellow;
    height: 500px;
    gap: 30px;
}

/*.flex-container{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    background: yellow;
    height: 500px;
}*/

/*.flex-item {
    color: #fff;
    width: 100%;
    background: red;
    margin: 10px;
}*/

.flex-item {
    color: #fff;
    background: red;
    margin: 10px;
}

.flex-item:nth-child(3) {
    font-size: 40px;
}