/*.pai .lista li{
    background: red;
}*/

/*.pai .lista li:first-child{
    background: red;
}*/

.pai .lista li:last-child{
    background: red;
}

p:not(.meio){
    color: darkblue;
}

input:checked + p{
    background: red;
}

input:not(checked) + p{
    background: yellow;
}