* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body {
    font-family: sans-serif;
}

/*.grid .col{
    display: inline-block;
    width: 300px;
    height: 300px;
    background: red;
    margin: 30px;
}*/

/*.grid .col{
    display: block;
    width: 300px;
    height: 300px;
    background: red;
    margin: 30px;
}*/

/*.grid .col{

    width: 300px;
    height: 300px;
    background: red;
    margin: 20px;
    float: left;
}

p {
    clear: left;
}*/

/*.grid .col{

    width: 300px;
    height: 300px;
    background: red;
    margin: 20px;
    float: right;
}

p {
    clear: right;
}*/

.grid::after{

    content: '';
    display: block;
    clear: both;
}

/*.grid .col{

    width: 300px;
    height: 300px;
    background: red;
    margin: 20px;
    float: right;
}*/

/*p {
    clear: both;
}*/

/*.grid .col{

    width: 33.33%;
    height: 300px;
    background: red;
    float: left;
    margin: 30px;
}*/

.grid{
    box-sizing: border-box;
    padding: 15px;
    margin: 0 auto;
    padding-top: 73px;
}

.grid .col{
    box-sizing: border-box;
    width: 33.33%;
    height: 300px;
    float: left;
    padding: 15px;
}

.grid .col-content{

    width: 100%;
    height: 100%;
    background: red;
}

/*@media (max-width: 320px) {
    .grid .col{
        width: 100%;
    }
}*/

/*@media only screen and (max-width: 320px) {
    .grid .col{
        width: 100%;
    }
}*/

/*@media not screen and (max-width: 320px) {
    .grid .col{
        width: 100%;
    }
}*/

.menu {
    width: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.753);
}

.menu ul {
    list-style: none;
    display: block;
    max-width: 1200px;
    padding: 0 30px;
    margin: 0 auto;
}

.menu ul li {
    float: left;
}

.menu ul li a {
    display: block;
    color: #fff;
    padding: 20px;
    text-decoration: none;
    transition: all 300ms ease-in-out;
}

.menu ul li a:hover {
    background: #333;
}

.full-page {
    max-width: 100%;      
    padding-top: 73px;
    height: 100vh;
    background: turquoise;
}

.full-page-content {
    max-width: 1200px;
    padding: 0 30px;
    margin: 0 auto;
}

@media (max-width: 320px) {
    .grid .col{
        width: 100%;
    }
}

@media all and (min-width: 321px) and (max-width: 760px) {
    .grid .col{
        width: 50%;
    }
}

@media all and (min-width: 769px) and (max-width: 1200px) {
    .grid .col{
        width: 33.33%;
    }
}

@media all and (min-width: 1200px) {
    .grid .col{
        width: 25%;
    }
}