/*
Style    ID      Classes, atributos e pseudo-classes    Elementos e pseudo-elementos
   1       0           0                                       0
   0       0           1                                       0
   0        1           1                                       0
   0        1           1                                       1
 
especificidadde
empate
style
 !important ****

*/

/*body#b.bclass p#p.p{
    background: purple;
}

p{
    background: blue !important;
}

#p{
    background: red;
}

.p {
    background: yellow;
}

#p.p {
    background: yellow;
}

/*#p.p.outrasclasses {
    background: yellow;
}

p#p{
    background: red;
}

p#p.p{
    background: red;
}

b p#p.p{
    background: red;
}

body div ul li a{

}

.main-container .header .heading{


}*/