*{
    margin: 0;
    padding: 0;
}

/*html{
    font-size: 20px;
}*/

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

/*.pai{
    font-size: 50px;
}*/

/*.pai{
    width: 30rem;
    height: 30rem;
    background: yellow;
}*/

/*.pai{
    width: 100vw;
    height: 100vh;
    background: yellow;
    overflow: hidden;
}*/

.pai{
    width: 50rem; /*500px*/
    height: 100vh;
    background: yellow;
    overflow: hidden;
}

.pai > div{
    width: 50%;
    height: 50rem;
    background: blue;
}

/*p{
    font-size: 20px;
}*/

/*p{
    font-size: 1em;
}*/

p {
    font-size: 2vmax;
}

/*.color-one{
    background: turquoise;
}

.color-two{
    background: violet;
}*/

