* {
    margin: 0;
    padding: 0;
}

/*.grid .col{
    display: inline-block;
    width: 300px;
    height: 300px;
    background: red;
    margin: 30px;
}*/

/*.grid .col{
    display: block;
    width: 300px;
    height: 300px;
    background: red;
    margin: 30px;
}*/

/*.grid .col{

    width: 300px;
    height: 300px;
    background: red;
    margin: 20px;
    float: left;
}

p {
    clear: left;
}*/

/*.grid .col{

    width: 300px;
    height: 300px;
    background: red;
    margin: 20px;
    float: right;
}

p {
    clear: right;
}*/

.grid::after{

    content: '';
    display: block;
    clear: both;
}

/*.grid .col{

    width: 300px;
    height: 300px;
    background: red;
    margin: 20px;
    float: right;
}*/

/*p {
    clear: both;
}*/

/*.grid .col{

    width: 33.33%;
    height: 300px;
    background: red;
    float: left;
    margin: 30px;
}*/

.grid{
    box-sizing: border-box;
    padding: 15px;
}

.grid .col{
    box-sizing: border-box;
    width: 33.33%;
    height: 300px;
    float: left;
    padding: 15px;
}

/*.grid .col-content{

    width: 100%;
    height: 100%;
    background: #F00; /*ABCDEF123456789 
}*/

/*.grid .col-content{

    width: 100%;
    height: 100%;
    background: rgb(255, 0, 0); /*ABCDEF123456789 
}*/

/*.grid .col-content{

    width: 100%;
    height: 100%;
    background: #3626A7; /*ABCDEF123456789 
}*/

/*.grid .col-content{

    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /*ABCDEF123456789 
    color: #fff;
}*/

/*.grid .col-content{

    width: 100%;
    height: 100%;
    background: hsl(0, 100%, 50%); /*ABCDEF123456789 
    color: #fff;
}*/

.grid .col-content{

    width: 100%;
    height: 100%;
    background: hsla(0, 100%, 50%, 50%); /*ABCDEF123456789 */
    color: #fff;
}