*{
    margin: 0;
    padding: 0;
}

/*.pai h1+p{
    color: red;
}

.pai p+h1{
    color: red;
}*/

/*.pai h1~p{
    color: red;
}*/

/*.pai .um~.dois{
    color: red;
}*/

/*.pai .um + .dois{
    color: red;
}*/

/*[meu-atributo="valor"] {
    color: red;
}*/

[checked] {
    width: 50px;
    height: 50px;
}

/*[meu-atributo="valor"] {
    color: red;
}*/

/*[meu-atributo ~="valor1"] {
    color: red;
}*/

/*[meu-atributo |="qualquercoisa"] {
    color: red;
}*/

/*[meu-atributo ^="c"] {
    color: red;
}*/

/*[meu-atributo $="llll"] {
    color: red;
}*/

[meu-atributo *="ou out"] {
    color: red;
}